.movie-card{
    margin-left: 0.5em;
    margin-right: 0.5rem;
}

.movie-card-img{
  max-width: 9em;
    object-fit: cover;
}

@media (max-width: 400px) {
    .movie-card-img{
        max-width: 8em;
          object-fit: cover;
      }
}