.my-list-flex {
  width: auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-around;
}

.select-container {
  display: flex;
}

p + p {
  padding-left: 1rem;
}