/* .wrapper-movie {
    width: auto;
    overflow: auto;
} */

.movie-top-day {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  scrollbar-width: none;
}

.movie-top-day::-webkit-scrollbar {
  display: none;
}
